<div class="row about-container">

  <h2>Chonglers Gallery</h2>

  <div class="photo-container single-spacing">
    <%= image_tag("rhoxio_valanyr.jpg") %>
    <p class='caption'>Congrats to Rhoxio for attaining Val'anyr, Hammer of the Ancient Kings!</p>
  </div>     

  <div class="photo-container single-spacing">
    <%= image_tag("alg_10_kill.png") %>
    <p class='caption'>Algalon has fallen in 10m Ulduar! The Chonglers have proved that the world is worth saving!</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("alg_room.png") %>
    <p class='caption'>Algalon attempts incoming! The Chonglers completed all of the hardmodes and now get to face the seizure procedure himself.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("pre_alg.png") %>
    <p class='caption'>The Chonglers Wednesdat 10M team on their way to save Azeroth from reorigination.</p>
  </div>    

  <div class="photo-container single-spacing">
    <%= image_tag("lewd_filthy.png") %>
    <p class='caption'>Filthycrow walks into the bank and makes a stunningly sexy entrance. This man needs some clothes!</p>
  </div>     

  <div class="photo-container single-spacing">
    <%= image_tag("ulduar_glory.png") %>
    <p class='caption'>Hail! The Chonglers show off their new Rusted Proto Drakes after completing the Ulduar 10 man achievements! Notice the perfect triangle formation.</p>
  </div> 

  <div class="photo-container single-spacing">
    <%= image_tag("maly_corpses.jpg") %>
    <p class='caption'>Blessed with good luck by floating corpses, the Chongers soon put an end to Malygos.</p>
  </div> 

  <div class="photo-container single-spacing">
    <%= image_tag("aotc_ulduar.jpg") %>
    <p class='caption'>Yogg is dead! The Chonglers bested the old god and didn't allow their fear of hantai tentacles to get the best of them. Not this time, at least.</p>
  </div>       

  <div class="photo-container single-spacing">
    <%= image_tag("tree.jpg") %>
    <p class='caption'>The Chonglers somehow found their way into the large tree above the Booty Bay inn and flight masters. How did they do it? No one quite knows.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("bc_launch.jpg") %>
    <p class='caption'>The best of times were had on this night. A gaggle of Chonglers hang out and truly experience Hellfire Peninsula an the chaos that comes with it.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("leeroy.jpg") %>
    <p class='caption'>LEEEEEROYYYYYY... JENKIIIINNNSSSS!</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("inn_relaxing.jpg") %>
    <p class='caption'>Chonglers and company relax and have some 'clean' RP after a day of raiding and demon genocide.</p>
  </div>    

  <div class="photo-container single-spacing">
    <%= image_tag("sarth_dead.jpg") %>
    <p class='caption'>Sartharion is no more! The Chonglers killed the beast and took his spoils for themselves.</p>
  </div>    

  <div class="photo-container single-spacing">
    <%= image_tag("leveling_fishing.png") %>
    <p class='caption'>Ashtonjuann and Agnar take a break from wanton murder to catch some fish.</p>
  </div>      

  <div class="photo-container single-spacing">
    <%= image_tag("kiljaeden.jpg") %>
    <p class='caption'>The Chonglers had saved Azeroth from the Burning Legion by defeating Kil'Jaeden!</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("brutallus.jpg") %>
    <p class='caption'>A glimpse at the raid setup for Brutallus. Many showballs were sacrificed in the attempts to come.</p>
  </div>     

  <div class="photo-container single-spacing">
    <%= image_tag("twins_setup.jpg") %>
    <p class='caption'>The guild can be seen here as they prepare to hop on the ledge and start the encounter with the Twins. Don't fall off, or you owe the gbank 500g!</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("muru.jpg") %>
    <p class='caption'>Muru was defeated! Beaten in record time, the Chonglers only wiped about 60 times before the pain was over.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("muru_pull.jpg") %>
    <p class='caption'>The Chonglers form up to reset Muru for an optimal start to the fight. This had been done many, many times before.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("warglaive.jpg") %>
    <p class='caption'>A Warglaive of Azzinoth! Grats Asthonjuann!</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("dueling_club.jpg") %>
    <p class='caption'>The Chonglers could often be found dueling and making new friends outside of the Stormwind gates. Here, we see them accosting a hapless citizen into joining the guild.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("young_wemstoid.jpg") %>
    <p class='caption'>Many years ago, Wemstoid used to have slightly more hair.</p>
  </div> 

  <div class="photo-container single-spacing">
    <%= image_tag("young_palydon.jpg") %>
    <p class='caption'>Palydon is a legend in the Chonglers community. Rumor has it that he is a descendant of Syledon, but his likeness hasn't been seen since the Lich King cmae to power.</p>
  </div>      

  <div class="photo-container single-spacing">
    <%= image_tag("dwarf_habitat.jpg") %>
    <p class='caption'>Dunsquilious ventures back to his childhood in the salt mines digging for freedom. His eyes tell a story of abuse and sodium chloride.</p>
  </div>    

  <div class="photo-container single-spacing">
    <%= image_tag("goldshire_inn.jpg") %>
    <p class='caption'>The Chonglers enjoy partaking in Goldshire Inn RP just as much as anyone else does.</p>
  </div>    

  <div class="photo-container single-spacing">
    <%= image_tag("provo_tree.png") %>
    <p class='caption'>Can you spot the Chongler in this image?</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("rword.png") %>
    <p class='caption'>The local rword in full bloom. Notice the vapid look and rat gear - a true staple in the Chonglers roster.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("bending_reality.png") %>
    <p class='caption'>One of the Chonglers somhow found themselves in a precarious situation when trying to zone into an instance. Multi-dollar company at its finest.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("nightbane.jpg") %>
    <p class='caption'>Nightbane is Dead! Pictured here is one known as 'Spongler, the Betrayer'.</p>
  </div>     

  <div class="photo-container single-spacing">
    <%= image_tag("immortal.png") %>
    <p class='caption'>The Chonglers flex on Kel'Thuzad's throne after showing Naxx that they knew the mechanics well enough to not die.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("killidan.jpg") %>
    <p class='caption'>The Chonglers pose after trampling the corpse of Illidan Stormrage.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("archkill.png") %>
    <p class='caption'>Archimonde was defeated by the Chonglers in Mount Hyjal. It is worth noting the lack of many skeletons on the ground, denoting that this was a trifle for this elite raid team.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("inception.png") %>
    <p class='caption'>On this day, history was made! The original guild charter for Chonglers.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("onlooker.jpg") %>
    <p class='caption'>Illidan glances at the body of Electricgoat. He was not prepared for the attempt on his life a few minutes later.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("hakkarkill.jpg") %>
    <p class='caption'>One of the earliest known photos of the group. The original founder and mastermind Chongler can be seen here.</p>
  </div>

  <div class="photo-container single-spacing">
    <%= image_tag("frosted.png") %>
    <p class='caption'>Seriously though, I am very thankful for each and every one of you. Happy Holidays, and thanks for being here through thick and thin. You're all family, and can't wait for what we have in store this next year and beyond. - Frosted, GM of Chonglers</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("chonglers.png") %>
    <p class='caption'>A common reaction to Chonglers.</p>
  </div>    

  <div class="photo-container single-spacing">
    <%= image_tag("craven.jpg") %>
    <p class='caption'>Two Chonglers, one with a craven smile telling of countless atrocities, pose for a moment before teaming up on unsuspecting citizens of the Trade District.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("chilling.jpg") %>
    <p class='caption'>Two premier members, Pheebie and Vallance, relaxing in their casualwear after a long day of raiding.</p>
  </div>

  <div class="photo-container single-spacing">
    <%= image_tag("gdkp.jpg") %>
    <p class='caption'>Mercenaries line up for payment after a critically acclaimed Chonglers GDKP run fills everyone's pockets and supplies crucial equipment to the Grobbulus community.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("genocideinc.jpg") %>
    <p class='caption'>In response to crimes against the Alliance, a few select members of Chonglers took it upon themselves to right the wrongs committed in the ergregious waste of life and time that was the Season 2 raid entrance slaughters.</p>
  </div>

  <div class="photo-container single-spacing">
    <%= image_tag("valiant_hunter.jpg") %>
    <p class='caption'>A Chongler hunter skillfully aims his bow; ready to stike at any foe who comes within range.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("domestic_terrorism.jpg") %>
    <p class='caption'>Members of the Chonglers commit themselves to an act of domestic terrorism in the Horde city of Orgimmar by luring Omen. This act of revenge was in response to SSC entrance camping that plagued much of Season 2.</p>
  </div>

  <div class="photo-container single-spacing">
    <%= image_tag("bitch.jpg") %>
    <p class='caption'>The guild master Frosted is a welcoming and supportive leader. The Chonglers would be lost without their stern leadership and sagacious attitude.</p>
  </div>

  <div class="photo-container single-spacing">
    <%= image_tag("vashjkill.jpg") %>
    <p class='caption'>Vashj, the Coilfang Matron is no more! The Chonglers dealt a decisive blow to Illidan's forces by giving Vallance sticky balls while simultaneously dispatching tentacle monsters.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("ktkill.jpg") %>
    <p class='caption'>The Chonglers after wiping Kael'thas and his goons from the face of the Outlands.</p>
  </div>      

</div>