<div class="row about-container">

  <h2>Chonglers Gallery</h2>

  <div class="photo-container single-spacing">
    <%= image_tag("pre_alg.png") %>
    <p class='caption'>The Chonglers on their way to save Azeroth from reorigination.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("provo_tree.png") %>
    <p class='caption'>Can you spot the Chongler in this image?</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("rword.png") %>
    <p class='caption'>The local rword in full bloom. Notice the vapid look and rat gear - a true staple in the Chonglers roster.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("bending_reality.png") %>
    <p class='caption'>One of the Chonglers somhow found themselves in a precarious situation when trying to zone into an instance. Multi-dollar company at its finest.</p>
  </div>    

  <div class="photo-container single-spacing">
    <%= image_tag("immortal.png") %>
    <p class='caption'>The Chonglers flex on Kel'Thuzad's throne after showing Naxx that they knew the mechanics well enough to not die.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("killidan.jpg") %>
    <p class='caption'>The Chonglers pose after trampling the corpse of Illidan Stormrage.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("archkill.png") %>
    <p class='caption'>Archimonde was defeated by the Chonglers in Mount Hyjal. It is worth noting the lack of many skeletons on the ground, denoting that this was a trifle for this elite raid team.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("inception.png") %>
    <p class='caption'>On this day, history was made! The original guild charter for Chonglers.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("onlooker.jpg") %>
    <p class='caption'>Illidan glances at the body of Electricgoat. He was not prepared for the attempt on his life a few minutes later.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("hakkarkill.jpg") %>
    <p class='caption'>One of the earliest known photos of the group. The original founder and mastermind Chongler can be seen here.</p>
  </div>

  <div class="photo-container single-spacing">
    <%= image_tag("frosted.png") %>
    <p class='caption'>Seriously though, I am very thankful for each and every one of you. Happy Holidays, and thanks for being here through thick and thin. You're all family, and can't wait for what we have in store this next year and beyond. - Frosted, GM of Chonglers</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("chonglers.png") %>
    <p class='caption'>A common reaction to Chonglers.</p>
  </div>    

  <div class="photo-container single-spacing">
    <%= image_tag("craven.jpg") %>
    <p class='caption'>Two Chonglers, one with a craven smile telling of countless atrocities, pose for a moment before teaming up on unsuspecting citizens of the Trade District.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("chilling.jpg") %>
    <p class='caption'>Two premier members, Pheebie and Vallance, relaxing in their casualwear after a long day of raiding.</p>
  </div>

  <div class="photo-container single-spacing">
    <%= image_tag("gdkp.jpg") %>
    <p class='caption'>Mercenaries line up for payment after a critically acclaimed Chonglers GDKP run fills everyone's pockets and supplies crucial equipment to the Grobbulus community.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("genocideinc.jpg") %>
    <p class='caption'>In response to crimes against the Alliance, a few select members of Chonglers took it upon themselves to right the wrongs committed in the ergregious waste of life and time that was the Season 2 raid entrance slaughters.</p>
  </div>

  <div class="photo-container single-spacing">
    <%= image_tag("valiant_hunter.jpg") %>
    <p class='caption'>A Chongler hunter skillfully aims his bow; ready to stike at any foe who comes within range.</p>
  </div>   

  <div class="photo-container single-spacing">
    <%= image_tag("domestic_terrorism.jpg") %>
    <p class='caption'>Members of the Chonglers commit themselves to an act of domestic terrorism in the Horde city of Orgimmar by luring Omen. This act of revenge was in response to SSC entrance camping that plagued much of Season 2.</p>
  </div>

  <div class="photo-container single-spacing">
    <%= image_tag("bitch.jpg") %>
    <p class='caption'>The guild master Frosted is a welcoming and supportive leader. The Chonglers would be lost without their stern leadership and sagacious attitude.</p>
  </div>

  <div class="photo-container single-spacing">
    <%= image_tag("vashjkill.jpg") %>
    <p class='caption'>Vashj, the Coilfang Matron is no more! The Chonglers dealt a decisive blow to Illidan's forces by giving Vallance sticky balls while simultaneously dispatching tentacle monsters.</p>
  </div>  

  <div class="photo-container single-spacing">
    <%= image_tag("ktkill.jpg") %>
    <p class='caption'>The Chonglers after wiping Kael'thas and his goons from the face of the Outlands.</p>
  </div>      

</div>