<!DOCTYPE html>
<html>
  <head>
    <title>ChonglersSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cardo:ital@1&display=swap" rel="stylesheet">    
  </head>

  <header>
    <h3 class='title d-flex justify-content-center'><a href="/">Chonglers</a></h3>
    <h4 class='subtitle d-flex justify-content-center'>Season 7, Udulations of Ulduar</h4>
    <div class="d-flex header-cards justify-content-center">
      <h5>About</h5>
      <h5><a href="/chongalations">Chongalations</a></h5>
      <h5><a href="/gallery">Gallery</a></h5>
      <h5>Recruitment</h5>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>

  <footer>
    <div class="d-flex justify-content-center discord-link">
      <p class='disc-tagline'>Want to chat with us? Join our Discord!</p>
      <%= image_tag("discord-logo.svg") %>      
    </div>
  </footer>
</html>
