<!DOCTYPE html>
<html>
  <head>
    <title>ChonglersSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  </head>

  <header>
    <h3 class='title d-flex justify-content-center'>Chonglers</h3>
    <h4 class='subtitle d-flex justify-content-center'>Season 3</h4>
    <div class="d-flex header-cards justify-content-center">
      <h5>About</h5>
      <h5>Recruitment</h5>
      <h5>Gallery</h5>
      <h5>Events</h5>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
